button{
    display: block;
    margin: 20px auto;
    background: crimson;
    color: white;
    border: 0px;
    padding: 8px 10px;

}

.popup-box{
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    
}
.popup{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    max-width: 300%;
    margin: 15% auto;
    padding: 10%;
    background: white;
    position: relative;

}
.popup a{
    background: crimson;
    color: whitesmoke;
    text-emphasis: none;
    padding: 6px 10px;

}

.popup-close{
    position: absolute;
    top: 5px;
    right: 8px;
    cursor: pointer;
}


